version: "3.8"

services:
  db:
    image: postgres:18
    restart: always
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: B2BMusicStreamingPlatform
    # ports:
    #   - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USER} -d B2BMusicStreamingPlatform"]
      interval: 10s
      timeout: 5s
      retries: 5

  api:
    build: ./B2BMusicStreamingPlatformwebapi
    restart: always
    environment:
      PostgreSQLDbConnStr: "Host=db;port=5432;Database=B2BMusicStreamingPlatform;Username=${DB_USER};Password=${DB_PASSWORD}"
      JwtIssuer: "${JwtIssuer}"
      JwtAudience: "${JwtAudience}"
      JwtSecretKey: "${JwtSecretKey}"
      ASPNETCORE_ENVIRONMENT: "Production"
      FrontendOrigin: "${FrontendOrigin}"
    # ports:
    #   - "8080:8080"
    depends_on:
      db:
        condition: service_healthy

  frontend:
    build:
      context: ./frontend
      args:
        - VITE_API_BASE=${VITE_API_BASE}
    restart: always
    ports:
      - "80:80"
    depends_on:
      - api

volumes:
  postgres_data:
